@model Cad_Pet.Models.DonoModel

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Quer mesmo deletar este registro?</h3>
<div>
    <h4>Dono</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_Cad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_Cad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descr_End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descr_End)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
